<form #form1="ngForm" (ngSubmit)="updateRest(form1.value)" class="updform">
    <div  *ngFor="let a of entityList" >
        <div class="double"><h3>{{a.name10}}</h3><button class="selectbutton" (click)="onSelect(a)">Select entity</button></div>
        <!-- <input type="radio" value="{{a.id}}" name="id" ngModel><label for="id">{{a.title}}</label> -->
    </div>
    <div *ngIf="selectedItem">
    <input type="text" placeholder="Name" name="title" ngModel="{{selectedItem.name10}}">
    <input type="number" min="1" max="5000" placeholder="Length" name="price" ngModel="{{selectedItem.length}}">
    <input type="update" class="updbutton" value="Update">
    </div>
</form>